.ipynb_checkpoints/*
data/*
biologs_data
remote_data
credentials.json
token.pickle
Errors.log
__pycache__/*
__pycache__
logs/
preprocessed/*
tmp_data/*
data_sync_log.jsonl
interpolated/*
remote_data/
.DS_Store
.*.swp
preprocessed_old/
biologs/
data_test/
dummy/
old/
preproc_lock.toml
comparative_trial_data/
mySugr_data
creds/
oud.interpolated/
