.ipynb_checkpoints/*
data/*
credentials.json
token.pickle
Errors.log
__pycache__/*
logs/
preprocessed/*
tmp_data/*
data_sync_log.jsonl
interpolated/*
remote_data/
.DS_Store
.*.swp
preprocessed_old/
biologs/
data_test/
dummy/
old/
preproc_lock.toml
poetry.lock
comparative_trial_data/
mySugr_data
creds/
